@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

@tailwind screen;

@font-face{
    font-family: accanthis-regular;
    src: url("../../static/fonts/accanthis-adf-std.regular.ttf");
}
/*Global styles*/
body{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-family:  'Poppins', sans-serif;
    font-weight: 400;
    color: #333;
    letter-spacing: 0.6px;
    background-color: white;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
    margin: 0 0 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {font-size: 2.41em;}

h3 {font-size: 1.5em;}

h4 {font-size: 1.3em;}

h5 {font-size: 1.2em;}

.small, .text_small {font-size: 0.8em;}

/*-----------Outline--------------*/
svg:focus, a:focus , input:focus , select:focus, button:focus{
    outline: transparent thin dotted;
}

/* For desktop design*/
#inpatient-services::before {
    content: '';
    background-image: url("../../static/logo@3x.jpg");
    background-size: 58vw;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -27vw;
    background-repeat: no-repeat;
}
#out-patient-services::before{
    content: '';
    background-image: url("../../static/logo@3x.jpg");
    background-size: 47vw;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: -75vw;
    background-repeat: no-repeat;
}
.mainService{
    background-color:#c2dcd3;
}

.card-container {
    background-image: url("../../static/green-leaves-waterdrops-4k-wallpaper-3840x2400@3x.jpg");
    background-position: center center;
}

input {
    border-bottom: 1px solid #12443e;
}

.customer-contact-info::placeholder {
    color: #12443e;
    opacity: 1;
}

.carousel-container {
    height: fit-content;
    width: fit-content;
}

.show {
    transition: ease-all 1s;
    display: block;
}

.hide {
    display: none;
}

.slick-center {
    z-index: 3;
    position: relative;
    padding: 1rem 0;
    margin-bottom: 1rem;
    transform: scale(1.08);
    height: 23vw;
}

.slick-center .ovarlay {
    display: none;
}

.slick-center .CarouselImgWrapper img {
    margin: 0;
    background: rgba(0, 0, 0, 0.61);
    opacity: 1;
    padding: 7px;
}

@media screen and (min-width: 1024px) {

    .customer-contact-info::placeholder {
        color: #fff;
        opacity: 1;
    }
}

/* my-css============================== */
ul.RoomBtnTab {
    display: flex
}
button.globe_btn {
    border: 1px solid #12443e;
    margin: 0 0 0 auto;
}
button.globe_btn a {
    background: #12443e;
    padding: 10px 26px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    font-size: 1vw;
    line-height: normal;
}
.RoomAbout {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.roomImg ul {
    display: flex;
}
.roomImg li {
    margin-right: 25px;
    margin-top: 20px;
}
.roomImg li:last-child {
    margin-right: 0px;
}

img.block.viewOne {
    width: 20%;
    padding-right: 20px;
    object-fit: cover;
    object-position: center center;
}
img.block.ViewTwo {
    width: 80%;
    object-fit: cover;
    object-position: center center;
}
.HighlightSecInfo {
    background: white;
    padding: 2rem;
    width: 40%;
}
.ExperienceServices img {
    height: 495px;
}
.ClearView img {
    object-fit: cover;
}
.ClearView {
    height: 100%;
    width: 100%;
}
button.Circle_btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 72px;
    border: 1px solid #969696;
    margin-right: 10px;
}
button.Circle_btn.right {
    transform: rotate(180deg);
}
input:focus{
    outline: none;
}

.arrow-icon:hover{
    stroke-dasharray: 5;
    stroke-dashoffset: 10;
    -webkit-animation: arrow-anim 700ms linear infinite;
}

@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
.arrowSection {
    display: flex;
    width: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}

/*------------Date-picker-START--------------*/
body .MuiPickersToolbar-toolbar, body .MuiPickersDay-daySelected, .MuiPickersDay-daySelected:hover{
    background: #12443e;
}
body .MuiPickersDay-day:hover{
    background-color: #C2DCD3;
}
/*------------Date-picker-END--------------*/

/*----------Select-Drop-down--Start-----------*/
body .MuiPaper-root{
    background-color: #C2DCD3;
}

/*-------------------Media-Queries-------------*/

@media screen and (max-width: 1800px) and (min-width: 1600px){
    .card-container{
        width: 19vw;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1400px){
    .card-container{
        width: 18vw;
    }
}
@media screen and (max-width: 1400px) and (min-width: 1300px){
    .card-container{
        width: 20vw;
    }
}
/*-------------Till-Ipad---------------------*/
@media screen and (max-width: 1300px) and (min-width: 1024px){
    .card-container{
        width: 18vw;
    }
}