/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

#menu-hamburger-icon::before{
    top: 24px;
    left:12px;
    position: absolute;
    content: '';
    background: #12443e;
    width: 32px;
    height: 1px;

}
#menu-hamburger-icon::after{
    left: 12px;
    top: 28px;
    position: absolute;
    content: '';
    background: #12443e;
    width: 22px;
    height: 1px;

}
#header-intro{
    height: 100%;
    background-image: url("../../static/mobile_header.jpg");
    background-position: 29%;
}
.card-container{
    background-image: url("../../static/green-leaves-waterdrops-4k-wallpaper-3840x2400@3x.jpg");
}

.appointment-type{
    color: #12443e;
    border-bottom: 1px solid #12443e;
}
input{
    border-bottom: 1px solid #12443e;
}
.customer-contact-info::placeholder{
    color: #12443e;
    opacity: 1;
}
.book-now-inner-container{
    width: fit-content;
    border: 1px solid #12443e;
}
.carousel-container{
    height: fit-content;
    width: fit-content;
}

.show{
    display: block;
}
.hide{
    display: none;
}