
.share-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(227, 231, 232, 0.7);
}

.share-this {
  display: block;
  width: auto;
  font-family: Montserrat, sans-serif;
  color: #090606;
  font-size: 16px;
  line-height: 20px;
}

.share-icons-block {
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-right: 2%;
  padding-left: 2%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.facebook-icon {
  width: 50px;
  height:100%;
  max-width: 50px;
  margin-right: 5%;
  margin-left: 5%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #929496;
  cursor: pointer;
}

.facebook-icon:hover {
  color: #1877f2;
}

.twitter-icon {
  width: 50px;
  height:100%;
  max-width: 50px;
  margin-right: 5%;
  margin-left: 5%;
  color: #929496;
  cursor: pointer;
}

.twitter-icon:hover {
  color: #1da1f2;
}

.linkedin-icon {
  height:100%;
  width: 50px;
  max-width: 50px;
  margin-right: 5%;
  margin-left: 5%;
  color: #929496;
  cursor: pointer;
}

.linkedin-icon:hover {
  color: #0077b5;
}

.instagram-icon {
  height:100%;
  width: 50px;
  max-width: 50px;
  margin-right: 5%;
  margin-left: 5%;
  color: #929496;
  cursor: pointer;
}

.instagram-icon:hover {
  color: #e4405f;
}

.whatsapp-icon {
  height:100%;
  width: 50px;
  max-width: 50px;
  margin-right: 5%;
  margin-left: 5%;
  color: #929496;
  cursor: pointer;
}

.whatsapp-icon:hover {
  color: #25d366;
}
